@import "tailwindcss";

:root {
  background: #f5f8f7;
  color: #071923;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f5f8f7;
  color: #071923;
  font-family: Arial, Helvetica, sans-serif;
}
